<script type="text/javascript">
  var ctrlx=false;
  var enterKey=13,xKey=88,sKey=83,escKey=27,semiKey=186,wKey=87;
  var esc;
  $(function () {

    function checkContentOk(content) {
      var secret = $("#inputOpen").is(":checked");
      if (secret == false && existsAppIdOrKey(content)) {
        alert('检测到含有 AppId 或 AppKey，请勾选「仅管理员可见」');
        return false;
      } else {
        return true;
      }
    }

    $("#threadForm").submit(function (event) {
      var $form = $(this),
        content = $form.find("textarea[id='inputContent']").val();
      if (content == '' && $("#inputClose").val() != '1') {
        alert("回复不能为空");
        return false;
      }
      return checkContentOk(content);
      //alert(content);
      //return false;
    });

    $("#deleteForm").submit(function (event) {
      return confirm('确认删除吗？');
    });

    function ctrlOrMeta(e){
      return e.ctrlKey || e.metaKey;
    }

    $('#inputContent').keydown(function (e) {
      if (ctrlOrMeta(e) && e.keyCode == enterKey) {
        // Ctrl-Enter pressed
        $("#threadForm").submit();
        return false;
      }else if(ctrlx && ctrlOrMeta(e) && e.keyCode==sKey){
        $("#threadForm").submit();
        return false;
      }else if(ctrlOrMeta(e) && e.keyCode==xKey){
        ctrlx=true;
      }
      /*if(e.keyCode==escKey){
        console.log('esc key');
        esc=true;
      }
      if(esc && e.keyCode==wKey){
        console.log('semi key');
        $("#threadForm").submit();
        return false;
      }*/
    }).keyup(function(e){
      if(e.keyCode!=xKey){
        ctrlx=false;
      }
      /*if(e.keyCode!=escKey){
        esc=false;
      }
      if(e.keyCode==wKey){
        console.log('return false');
        return false;
      }*/
    });

    $("#closeBtn").click(function (event) {

      function close() {
        $("#inputClose").val("1");
        $("#threadForm").submit();
      }

      <%if(!admin){%>
      close();
      <%}else{%>
      if (confirm('确认关闭用户的工单吗？')) {
        close();
      }
      <%}%>
    });

    <% if(admin) { %>
    if (typeof(Storage) !== "undefined") {
      $('#username').val(localStorage.getItem('admin_username') || '你是谁？');
    }
    <% } %>
  });
</script>

<div id="info">
  <div class="clearfix">

    <div class="pull-left" style="width: 75%">
      <h2 style="display: inline"><%= ticket.type %>
      </h2>
    </div>

    <div class="pull-right" style="">

      <% if(qqLink){
      %>
      <form action="<%= qqLink %>" class="custom-control pull-left">
        <% var v; %>
        <% if(admin){ %>
        <% v = '联系用户' %>
        <% }else{ %>
        <% v = '联系工程师' %>
        <% } %>
        <input type="submit" class="btn btn-default btn-sm edit-contact pull-left" value="<%= v %>"/>
      </form>
      <% } %>

      <% if(admin){ %>
      <form id="deleteForm" action="/tickets/<%= ticket.id %>/delete"
            method="post" class="custom-control pull-left">
        <button type="submit" class="btn btn-danger btn-sm" id="deleteBtn">删除工单</button>
      </form>
      <% } %>
    </div>
  </div>

  <div>
    <p>
      <span class="ticket-id">#<%= ticket.ticket_id %>-</span>
      <span class="ticket-type">问题类型：<%= ticket.type %>-</span>
      <span class="ticket-date bstooltip" title="<%= ticket.createdAtLong %>">@ 创建日期：<%= ticket.createdAtLong %></span>
      <% if(ticket.followUser != ''){ %>
      - 工单状态：<%= ticket.status %>
      <% } else{ %>
      - 工单状态：待分配，请填写待跟进人
      <% } %>
    </p>
    <br>
    <p class="formTit">基础信息</p>
    
  </div>
</div>

<hr>

<div>
  <div class="clearfix" style="clear:both;">
    <form id="threadForm" class="thread-form" enctype="multipart/form-data"
          action="/ticket/tickets/<%= ticket.id %>/threads" method="post">
          <div id="info">
            <div class="form-group">
              <label class="control-label" for="consultUser">
                咨询人
              </label>
              <div class="controls">
                <input type="text" name="consultUser" id="consultUser" class="form-control" placeholder="咨询人"  value="<%= ticket.consultUser %>">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="consultTel">
                咨询人手机
              </label>
              <div class="controls">
                <input type="text" name="consultTel" id="consultTel" class="form-control" placeholder="咨询人手机号"  value="<%= ticket.consultTel %>">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="restaurantName">
                餐馆名称
              </label>
              <div class="controls">
                <input type="text" name="restaurantName" id="restaurantName" class="form-control" placeholder="餐馆名称" value='<%= ticket.restaurantName %>'>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="restaurantReceiver">
                餐馆联系人
              </label>
              <div class="controls">
                <input type="text" name="restaurantReceiver" id="restaurantReceiver" class="form-control" placeholder="餐馆联系人" value='<%= ticket.restaurantReceiver %>'>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="restaurantTel">
                餐馆联系人电话
              </label>
              <div class="controls">
                <input type="text" name="restaurantTel" id="restaurantTel" class="form-control" placeholder="餐馆联系人电话" value='<%= ticket.restaurantTel %>'>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="restaurantID">
                关联餐馆ID
              </label>
              <div class="controls">
                <input type="text" name="restaurantID" id="restaurantID" class="form-control" placeholder="关联餐馆ID"  value="<%= ticket.restaurantID %>">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="orderId">
                关联订单ID
              </label>
              <div class="controls">
                <input type="text" name="orderId" id="orderId" class="form-control" placeholder="关联订单ID"  value="<%= ticket.orderId %>">
              </div>
            </div>
            <div class="form-group" style='width: 200px;height: 100px;'>
              <label class="control-label" for="followUser">
                待跟进人
              </label>
              <div class="controls">
                <select id="followUser" name="followUser" data-placeholder="待跟进人" style="width: 350px; display: none;" class="form-control chosen-select-deselect" tabindex="-1">
                    <option><%= ticket.followUser %></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="followTel">
                待跟进人手机
              </label>
              <div class="controls">
                <input type="text" name="followTel" id="followTel" class="form-control" placeholder="待跟进人手机"  value="<%= ticket.followTel %>">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="sourceType">
                问题来源
              </label>
              <div class="controls">
              <select id="sourceType" class="form-control" name="sourceType" >
                <option selected="selected"><%= ticket.stype %></option>
              </select>
              </div>
            </div>
            <p style="clear:both; font-weight: bold;">流程详情</p>
            <div class="form-group">
              <label class="control-label" for="inputType">
                问题类型
              </label>
              <div class="controls">
                <select id="inputType" class="form-control" name="type" >
                  <option selected="selected"><%= ticket.type %></option>
                </select>
              </div>
            </div>
          </div>
          <div id='info'>
            <% if(ticket.type == "咨询流程"){ %>
                <div class="form-group">
                  <label class="control-label" for="consultType">
                    咨询类别
                  </label>
                  <div class="controls">
                  <select id="consultType" class="form-control" name="consultType" >
                    <option selected="selected"><%= ticket.req.consultType %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="consultResult">
                    咨询处理结果
                  </label>
                  <div class="controls">
                    <select id="consultResult" class="form-control" name="consultResult" >
                      <option selected="selected"><%= ticket.req.consultResult %></option>
                      <option>处理中</option>
                      <option>已反馈其他部门待回复</option>
                      <option>已反馈给咨询人</option>
                      <option>已完成</option>
                      <option>已审核</option>
                    </select>
                  </div>
                </div>
                <div class="form-group textArea" style='width: 100%'>
                  <label class="control-label" for="consultRemarks">
                    咨询流程备注
                  </label>
                  <div class="controls">
                    <textarea rows="10" cols="20" name="consultRemarks" id="consultRemarks" class="form-control" placeholder="咨询流程备注" ><%= ticket.req.consultRemarks %></textarea>
                  </div>
                </div>
            <% } else if( ticket.type == "新品处理流程" ){ %>
                <div class="form-group">
                  <label class="control-label" for="newStype">
                    新品流程分类
                  </label>
                  <div class="controls">
                  <select id="newStype" class="form-control" name="newStype" >
                    <option  selected="selected"><%= ticket.req.newStype %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="newType">
                    新品流程状态
                  </label>
                  <div class="controls">
                  <select id="newType" class="form-control" name="newType" >
                    <option  selected="selected"><%= ticket.req.newType %></option>
                    <option>已记录</option>
                    <option>已反馈给市场</option>
                    <option>市场反馈无货</option>
                    <option>市场反馈上线</option>
                    <option>市场反馈不调整</option>
                    <option>市场反馈其他</option>
                    <option>已通知反馈人及客户</option>
                    <% if( !mClient.isAdmin ){ %>
                    <option>已完成</option>
                    <% } %>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="newMarket">
                    所属市场
                    <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
                  </label>
                  <div class="controls">
                  <select id="newMarket" class="form-control" name="newMarket" >
                    <option selected="selected"><%= ticket.req.newMarket %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="newReName">
                    新品参考名称
                  </label>
                  <div class="controls">
                    <input type="text" name="newReName" id="newReName" class="form-control" placeholder="新品参考名称"  value='<%= ticket.req.newReName %>'>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="newRePrice">
                    参考价格
                  </label>
                  <div class="controls">
                    <input type="number" name="newRePrice" id="newRePrice" class="form-control" placeholder="参考价格"  value='<%= ticket.req.newRePrice %>'>
                  </div>
                </div>
                <div class="form-group textArea" style='width: 100%;'>
                  <label class="control-label" for="newProcess">
                    新品流程备注
                  </label>
                  <div class="controls">
                    <textarea rows="10" cols="20" name="newProcess" id="newProcess" class="form-control" placeholder="新品流程备注" ><%= ticket.req.newProcess %></textarea>
                  </div>
                </div>
            <% } else if( ticket.type == "退换货处理流程" ){ %>
                <div class="form-group">
                  <label class="control-label" for="cancelAddress">
                    商户地址
                  </label>
                  <div class="controls">
                    <input type="text" name="cancelAddress" id="cancelAddress" class="form-control" placeholder="商户地址"  value="<%= ticket.req.cancelAddress %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="cancelSalesperson">
                    销售员
                  </label>
                  <div class="controls">
                    <input type="text" name="cancelSalesperson" id="cancelSalesperson" class="form-control" placeholder="销售员"  value="<%= ticket.req.cancelSalesperson %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="cancelProduct">
                    订单产品
                  </label>
                  <div class="controls">
                    <input type="text" name="cancelProduct" id="cancelProduct" class="form-control" placeholder="订单产品"  value="<%= ticket.req.cancelProduct %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="cancelQuantity">
                    订购数量
                  </label>
                  <div class="controls">
                    <input type="number" name="cancelQuantity" id="cancelQuantity" class="form-control" placeholder="订购数量"  value="<%= ticket.req.cancelQuantity %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="cancelUnitPrice">
                    订单单价
                  </label>
                  <div class="controls">
                    <input type="number" name="cancelUnitPrice" id="cancelUnitPrice" class="form-control" placeholder="订单单价"  value="<%= ticket.req.cancelUnitPrice %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="cancelNum">
                    退换数量
                  </label>
                  <div class="controls">
                    <input type="number" name="cancelNum" id="cancelNum" class="form-control" placeholder="退换数量"  value="<%= ticket.req.cancelNum %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="cancelAmount">
                    退款金额
                  </label>
                  <div class="controls">
                    <input type="number" name="cancelAmount" id="cancelAmount" class="form-control" placeholder="退款金额"  value="<%= ticket.req.cancelAmount %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="cancelCar">
                    送货车辆
                  </label>
                  <div class="controls">
                    <input type="text" name="cancelCar" id="cancelCar" class="form-control" placeholder="送货车辆"  value="<%= ticket.req.cancelCar %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="DeliveryDate">
                    送货日期
                  </label>
                  <div class="controls">
                    <input type="text" name="DeliveryDate" id="DeliveryDate" class="form-control" placeholder="送货日期"  value="<%= ticket.req.DeliveryDate %>">
                  </div>
                </div>
                <div class="form-group" style="clear:both;">
                  <label class="control-label" for="cancelReason">
                    退换原因
                  </label>
                  <div class="controls">
                  <select id="cancelReason" class="form-control" name="cancelReason" >
                    <option selected="selected"><%= ticket.req.cancelReason %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="cancelSuggestion">
                    处理意见
                  </label>
                  <div class="controls">
                  <select id="cancelSuggestion" class="form-control" name="cancelSuggestion" >
                    <option selected="selected"><%= ticket.req.cancelSuggestion %></option>
                    <option>同意退货</option>
                    <option >不可以退货</option>
                    <option >补差价不退货</option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="planDeliveryDate">
                    计划退货时间
                  </label>
                  <div class="controls">
                    <input type="date" name="planDeliveryDate" id="planDeliveryDate" class="form-control" placeholder="计划退货时间"  value="<%= ticket.req.planDeliveryDate %>" readOnly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="ActualDeliveryDate">
                    实际退货时间
                  </label>
                  <div class="controls">
                    <input type="date" name="ActualDeliveryDate" id="ActualDeliveryDate" class="form-control" placeholder="实际退货时间"  value="<%= ticket.req.ActualDeliveryDate %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="cancelType">
                    退货状态
                  </label>
                  <div class="controls">
                  <select id="cancelType" class="form-control" name="cancelType" >
                    <option  selected="selected"><%= ticket.req.cancelType %></option>
                    <option  selected="selected">已记录</option>
                    <option >已反馈给物流</option>
                    <option >物流已确定退货时间</option>
                    <option >物流已退货</option>
                    <option >已回访</option>
                    <option >已完成</option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="cancelHandleType">
                    已退货产品处理
                    <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
                  </label>
                  <div class="controls">
                  <select id="cancelHandleType" class="form-control" name="cancelHandleType" >
                    <option  selected="selected"><%= ticket.req.cancelHandleType %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="supplier">
                    已退货供应商处理
                  </label>
                  <div class="controls">
                    <input type="text" name="supplier" id="supplier" class="form-control" placeholder="已退货供应商处理"  value="<%= ticket.req.supplier %>">
                  </div>
                </div>
                <div class="form-group textArea" style='clear:both; width: 100%;'>
                  <label class="control-label" for="visitRecord">
                    回访记录
                  </label>
                  <div class="controls">
                    <textarea rows="10" cols="20" name="visitRecord" id="visitRecord" class="form-control" placeholder="回访记录"><%= ticket.req.visitRecord %></textarea>
                  </div>
                </div>
                <div class="form-group textArea" style='clear:both; width: 100%;'>
                  <label class="control-label" for="cancelRemarks">
                    退换货备注
                  </label>
                  <div class="controls">
                    <textarea rows="10" cols="20" name="cancelRemarks" id="cancelRemarks" class="form-control" placeholder="退换货备注"><%= ticket.req.cancelRemarks %></textarea>
                  </div>
                </div>
            <% } else if( ticket.type == "投诉流程" ){ %>
                <div class="form-group">
                  <label class="control-label" for="complains">
                    投诉事项
                  </label>
                  <div class="controls">
                    <input type="text" name="complains" id="complains" class="form-control" placeholder="投诉事项"  value="<%= ticket.req.complains %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="complainType">
                    投诉类别
                    <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
                  </label>
                  <div class="controls">
                  <select id="complainType" class="form-control" name="complainType" >
                    <option  selected="selected"><%= ticket.req.complainType %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="complainDepartmentType">
                    投诉部门
                    <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
                  </label>
                  <div class="controls">
                  <select id="complainDepartmentType" class="form-control" name="complainDepartmentType" >
                    <option  selected="selected"><%= ticket.req.complainDepartmentType %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="complainProcess">
                    投诉处理过程
                    <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
                  </label>
                  <div class="controls">
                  <select id="complainProcess" class="form-control" name="complainProcess" >
                    <option  selected="selected"><%= ticket.req.complainProcess %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group textArea" style='clear:both; width: 100%;'>
                  <label class="control-label" for="complainExpected">
                    期望的处理方法
                  </label>
                  <div class="controls">
                    <textarea rows="10" cols="20" name="complainExpected" id="complainExpected" class="form-control" placeholder="期望的处理方法"><%= ticket.req.complainExpected %></textarea>
                  </div>
                </div>
                <div class="form-group textArea" style='clear:both; width: 100%;'>
                  <label class="control-label" for="complainDescription">
                    处理描述
                  </label>
                  <div class="controls">
                    <textarea rows="10" cols="20" name="complainDescription" id="complainDescription" class="form-control" placeholder="处理描述"><%= ticket.req.complainDescription %></textarea>
                  </div>
                </div>
            <% } else if( ticket.type == "订单查重流程" ){ %>
                <div class="form-group">
                  <label class="control-label" for="repeatNum">
                    重复订单编号
                  </label>
                  <div class="controls">
                    <input type="text" name="repeatNum" id="repeatNum" class="form-control" placeholder="重复订单编号"  value="<%= ticket.req.repeatNum %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="checkProcess">
                    处理过程
                  </label>
                  <div class="controls">
                  <select id="checkProcess" class="form-control" name="checkProcess" >
                    <option selected="selected"><%= ticket.req.checkProcess %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group textArea" style='clear:both; width: 100%;'>
                  <label class="control-label" for="checkProcess">
                    处理描述
                  </label>
                  <div class="controls">
                    <textarea rows="10" cols="20" name="checkProcess" id="checkProcess" class="form-control" placeholder="处理描述"><%= ticket.req.checkDescription %></textarea>
                  </div>
                </div>
            <% } else if( ticket.type == "未分车订单处理流程" ){ %>
                <div class="form-group">
                  <label class="control-label" for="noCarReason">
                    未分车原因
                  </label>
                  <div class="controls">
                    <input type="text" name="noCarReason" id="noCarReason" class="form-control" placeholder="未分车原因"  value="<%= ticket.req.noCarReason %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="noCarDescription">
                    处理描述
                  </label>
                  <div class="controls">
                    <input type="text" name="noCarDescription" id="noCarDescription" class="form-control" placeholder="处理描述"  value="<%= ticket.req.noCarDescription %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="noCarType">
                    未分单处理过程描述
                    <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
                  </label>
                  <div class="controls">
                  <select id="noCarType" class="form-control" name="noCarType" required>
                    <option selected="selected"><%= ticket.req.noCarType %></option>
                  </select>
                  </div>
                </div>
            <% } else if( ticket.type == "订单评价回访流程" ){ %>
                <div class="form-group">
                  <label class="control-label" for="visitSingleTime">
                    下单时间
                  </label>
                  <div class="controls">
                    <input type="date" name="visitSingleTime" id="visitSingleTime" class="form-control" placeholder="下单时间"  value="<%= ticket.req.visitSingleTime %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="visitCname">
                    客服名称
                  </label>
                  <div class="controls">
                    <input type="text" name="visitCname" id="visitCname" class="form-control" placeholder="客服名称"  value="<%= ticket.req.visitCname %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="visitDriverName">
                    司机名称
                  </label>
                  <div class="controls">
                    <input type="text" name="visitDriverName" id="visitDriverName" class="form-control" placeholder="司机名称"  value="<%= ticket.req.visitDriverName %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="visitQuality">
                    商品质量
                  </label>
                  <div class="controls">
                    <input type="text" name="visitQuality" id="visitQuality" class="form-control" placeholder="商品质量"  value="<%= ticket.req.visitQuality %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="visitSpeed">
                    送货速度
                  </label>
                  <div class="controls">
                    <input type="text" name="visitSpeed" id="visitSpeed" class="form-control" placeholder="送货速度"  value="<%= ticket.req.visitSpeed %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="visitDescription">
                    订单评价处理描述
                  </label>
                  <div class="controls">
                    <input type="text" name="visitDescription" id="visitDescription" class="form-control" placeholder="订单评价处理描述"  value="<%= ticket.req.visitDescription %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="visitProcess">
                    订单评价处理过程
                  </label>
                  <div class="controls">
                  <select id="visitProcess" class="form-control" name="visitProcess" >
                    <option selected="selected"><%= ticket.req.visitProcess %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group textArea" style='clear:both; width: 100%;'>
                  <label class="control-label" for="visitEvaluation">
                    配送评价
                  </label>
                  <div class="controls">
                    <textarea rows="10" cols="20" name="visitEvaluation" id="visitEvaluation" class="form-control" placeholder="配送评价"><%= ticket.req.visitEvaluation %></textarea>
                  </div>
                </div>
                <div class="form-group textArea" style='clear:both; width: 100%;'>
                  <label class="control-label" for="visitOtherInfo">
                    其他信息
                  </label>
                  <div class="controls">
                    <textarea rows="10" cols="20" name="visitOtherInfo" id="visitOtherInfo" class="form-control" placeholder="其他信息"><%= ticket.req.visitOtherInfo %></textarea>
                  </div>
                </div>
            <% } else if( ticket.type == "首单回访流程" ){ %>
                <div class="form-group">
                  <label class="control-label" for="fvType">
                    下订单方式
                  </label>
                  <div class="controls">
                  <select id="fvType" class="form-control" name="fvType" >
                    <option selected="selected"><%= ticket.req.fvType %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="purchaseType">
                    原来采购方式
                    <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
                  </label>
                  <div class="controls">
                  <select id="purchaseType" class="form-control" name="purchaseType" >
                    <option selected="selected"><%= ticket.req.purchaseType %></option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="fvInfo">
                    信息通知
                  </label>
                  <div class="controls">
                    <select id="fvInfo" class="form-control" name="fvInfo" >
                      <option selected="selected"><%= ticket.req.fvInfo %></option>
                      <option>已完成</option>
                      <option>部分完成</option>
                      <option>未完成</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="fvEvaluation">
                    对产品质量评价
                  </label>
                  <div class="controls">
                    <select id="fvEvaluation" class="form-control" name="fvEvaluation" >
                      <option selected="selected"><%= ticket.req.fvEvaluation %></option>
                      <option>5</option>
                      <option>4</option>
                      <option>3</option>
                      <option>2</option>
                      <option>1</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="staffEvaluation">
                    对地推员工评价
                  </label>
                  <div class="controls">
                    <select id="staffEvaluation" class="form-control" name="staffEvaluation" >
                      <option selected="selected"><%= ticket.req.staffEvaluation %></option>
                      <option>5</option>
                      <option>4</option>
                      <option>3</option>
                      <option>2</option>
                      <option>1</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="driverEvaluation">
                    对送货司机的评价
                  </label>
                  <div class="controls">
                    <select id="driverEvaluation" class="form-control" name="driverEvaluation" >
                      <option selected="selected"><%= ticket.req.driverEvaluation %></option>
                      <option>5</option>
                      <option>4</option>
                      <option>3</option>
                      <option>2</option>
                      <option>1</option>
                    </select>
                  </div>
                </div>
                <div class="form-group textArea" style='clear:both; width: 100%;'>
                  <label class="control-label" for="fvComments">
                    其他意见和建议
                  </label>
                  <div class="controls">
                    <textarea rows="10" cols="20" name="fvComments" id="fvComments" class="form-control" placeholder="其他意见和建议"><%= ticket.req.fvComments %></textarea>
                  </div>
                </div>
                <div class="form-group textArea" style='clear:both; width: 100%;'>
                  <label class="control-label" for="fvRemarks">
                    回访备注
                  </label>
                  <div class="controls">
                    <textarea rows="10" cols="20" name="fvRemarks" id="fvRemarks" class="form-control" placeholder="回访备注"><%= ticket.req.fvRemarks %></textarea>
                  </div>
                </div>
            <% } %>
            <% if( ticket.attachment != undefined ){ %>
            <div class="ticket-thread-content">
              <pre><%- ticket.attachment %></pre>
            </div>
            <% } %>
        </div>

      <% threads.forEach (function(thread){ %>

      <div class="ticket-thread-wrap">
        <p class="ticket-thread-title">
          <span class="ticket-user"><b><%= thread.user %></b></span>
          <span class="ticket-date bstooltip" title="<%= thread.createdAtLong %>">@ <%= thread.createdAtLong %></span>
          <% if(thread.open != 1){ %>
            <span class="icon-lock avc-icon avc-locked-on bstooltip" title="仅客服可见"></span>
          <% } %>
        </p>

        <% if(thread.visible){ %>
        <div class="ticket-thread-content">
          <pre><%= thread.content %><%- thread.attachment %></pre>
        </div>
        <% } %>
      </div>
      <% }); %>
      <% if(ticket.rawStatus < 2){ %>
      <div class="form-group" style="clear:both;">
        <input type="hidden" id="inputClose" name="close" value="0"/>
        <label class="control-label" for="inputContent">
          回复
          <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
        </label>
        <textarea rows="5" name="content" id="inputContent" class="form-control" placeholder="回复内容" required></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="inputAttachment">截图附件</label>

        <div class="controls">
          <input type='file' name='attachment' id='inputAttachment' accept="image/*"/>
        </div>
      </div>
      <div class="form-group pull-left">
        <div class="controls">
          <button type="submit" class="btn btn-primary btn-submit">提交</button>
          <% if(cid != -99){ %>
          <% if(ticket.username == mClient.username || mClient.isAdmin ){ %>
          <button type="button" class="btn btn-danger btn-close" id="closeBtn">关闭工单</button>
          <% } %>
          <% } %>
        </div>
      </div>
      <% } %>
    </form>
  </div>
</div>


<a href="/ticket/tickets" class="btn btn-default btn-back">返回</a>
<script type="text/javascript">
  $.ajax({ 
      url: "http://www.canguanwuyou.cn/admin/api/admin-user?pageSize=10000", 
      type: "GET",
      dataType: "json",
      success: function(data){
          //console.log(data.adminUsers[0].realname);
          var str = $('#followUser').html();
          for(var i=0; i<data.adminUsers.length;i++){
              str += "<option>"+data.adminUsers[i].realname+"</option>";
          }
          $('#followUser').html(str);
          var config = {
              '.chosen-select'           : {},
              '.chosen-select-deselect'  : {allow_single_deselect:true},
              '.chosen-select-no-single' : {disable_search_threshold:1},
              '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
              '.chosen-select-width'     : {width:"95%"}
            }
          $(".chosen-select-deselect").chosen({width: "100%"});
          $(".chosen-select-deselect").chosen({height: "100px"});
          for (var selector in config) {
            $(selector).chosen(config[selector]);
          }
      }
    });
</script>
