<div class="clearfix">
  <div class="btn-group pull-left">
    <a href="/ticket/tickets" class="btn btn-default">我的工单</a>
    <a href="/ticket/history" class="btn btn-default active">我的任务</a>
  </div>
  <a class="btn btn-primary" href="tickets/new" style="margin-left: 10px;">新建工单</a>
</div>
<div id="collapseTwo" class="panel-collapse clearfix">
    <div class="panel-body">
        <form id="searchForm" class="thread-form" enctype="multipart/form-data"
          action="/ticket/history/search" method="post">
            <div class="form-group">
                <select id="inputType" class="form-control" name="type" >
                  <option value="" selected="selected">请选择-流程</option>
                  <option value="consult">咨询流程</option>
                  <option value="complain">投诉流程</option>
                  <option value="new">新品处理流程</option>
                  <option value="cancelOrders">退货处理流程</option>
                  <option value="skill">技术问题反馈</option>
                  <option value="market">市场合作</option>
                </select>
            </div>
            <div class="form-group">
                <select id="sourceType" class="form-control" name="sourceType" >
                  <option value="" selected="selected">请选择-来源</option>
                  <option value="wxcrowd">微信群</option>
                  <option value="wechat">微信平台</option>
                  <option value="tel400">400电话</option>
                  <option value="cgwyapp">App</option>
                  <option value="other">其他</option>
                </select>
            </div>
            <div class="form-group">
                <select id="stateType" class="form-control" name="stateType" >
                  <option selected="selected">请选择-状态</option>
                  <option value="0">等待处理</option>
                  <option value="1">已回复</option>
                  <option value="2">完成</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" id="startTime" name="startTime" class="form-control" placeholder="起始时间" />
            </div>
            <div class="form-group">
                <input type="text" id="endTime" name="endTime" class="form-control" placeholder="结束时间" />
            </div>
            <div class="form-group">
                <input type="text" name='restaurantID' class="form-control" placeholder="餐馆ID"/>
            </div>
            <div class="form-group">
                <input type="text" name='orderId' class="form-control" placeholder="订单ID" >
            </div>
            <div class="form-group">
                <select id="followUser" name="followUser" data-placeholder="待跟进人" style="width: 350px; display: none;" class="form-control chosen-select-deselect" tabindex="-1">
                  <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="发件人" >
            </div>
            <button type="submit" class="btn btn-primary btn-submit" >&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
        </form>
    </div>
</div> 
<hr>

<div>
    <div>
        <table class="table table-borderless table-sortable">
            <thead>
              <tr>
                <th data-sort="int">工单ID</th>
                <th data-sort="string">标题</th>
                <th data-sort="string">发送人</th>
                <th data-sort="string">咨询人</th>
                <th data-sort="string">关联餐馆ID</th>
                <th data-sort="string">关联订单ID</th>
                <th data-sort="string">状态</th>
                <th data-sort="string">来源</th>
                <th data-sort="string">类型</th>
                <th data-sort="string">待跟进人</th>
                <th data-sort="int" data-sort-default="desc" data-sort-onload>创建时间</th>
              </tr>
            </thead>
            <tbody>
            <% tickets.forEach (function (ticket){  %>
            <% if( ticket.followUser== mClient.username ){ %>
            <tr>
              <td class="table-type" data-sort-value="<%=ticket.ticket_id%>">#<%= ticket.ticket_id%></td>
              <td class="table-type"><a href="/ticket/tickets/<%=ticket.id%>/threads" title="#<%= ticket.ticket_id %>"><%= ticket.title %></a></td>
              <td class="table-type"><%= ticket.username %></td>
              <td class="table-type"><%= ticket.consultUser %></td>
              <td class="table-type"><%= ticket.restaurantID %></td>
              <td class="table-type"><%= ticket.orderId %></td>
              <td class="table-type"><%= ticket.status %></td>
              <td class="table-type"><%= ticket.stype %></td>
              <td class="table-type"><%= ticket.type %></td>
              <td class="table-type"><%= ticket.followUser %></td>
              <td class="table-date"><%= ticket.createdAtLong %></td>
            </tr>
            <% } %>
            <%} ) %>
            </tbody>
        </table>
    </div>
  <div class="search-page">
    <ul class="pagination">
      <% if(back >= 0) { %>
      <% if(type != null) { %>
      <li><a href="history?type=<%= type %>&skip=<%= back %>">上一页</a></li>
      <% }else{ %>
      <li><a href="history?skip=<%= back %>">上一页</a></li>
      <% } %>
      <% } %>
      <% if(next > 0) { %>
      <% if(type != null) { %>
      <li><a href="history?type=<%= type %>&skip=<%= next %>">下一页</a></li>
      <% }else{ %>
      <li><a href="history?skip=<%= next %>">下一页</a></li>
      <% } %>
      <% } %>
    </ul>
  </div>
</div>
<script type="text/javascript">
    var url = document.URL;
    if (/.*type=consult.*/.exec(url)){
        $('#consult_link').attr('class','active');
    }else if (/.*type=complain.*/.exec(url)){
        $('#complain_link').attr('class','active');
    }else if (/.*type=new.*/.exec(url)){
        $('#new_link').attr('class','active');
    }else if (/.*type=cancelOrders.*/.exec(url)){
        $('#cancelOrders_link').attr('class','active');
    }else if (/.*type=skill.*/.exec(url)){
        $('#skill_link').attr('class','active');
    }else if (/.*type=market.*/.exec(url)){
        $('#market_link').attr('class','active');
    }

    $( "#startTime" ).datepicker({
      defaultDate: "",
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#endTime" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    
    $( "#endTime" ).datepicker({
      defaultDate: "",
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#startTime" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
    $.ajax({ 
      url: "http://www.canguanwuyou.cn/admin/api/admin-user?pageSize=10000", 
      type: "GET",
      dataType: "json",
      success: function(data){
          //console.log(data.adminUsers[0].realname);
          var str = $('#followUser').html();
          for(var i=0; i<data.adminUsers.length;i++){
              str += "<option>"+data.adminUsers[i].realname+"</option>";
          }
          $('#followUser').html(str);
          var config = {
              '.chosen-select'           : {},
              '.chosen-select-deselect'  : {allow_single_deselect:true},
              '.chosen-select-no-single' : {disable_search_threshold:1},
              '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
              '.chosen-select-width'     : {width:"95%"}
            }
          $(".chosen-select-deselect").chosen({width: "100%"});
          $(".chosen-select-deselect").chosen({height: "100px"});
          for (var selector in config) {
            $(selector).chosen(config[selector]);
          }
      }
    });
</script>

